@charset "UTF-8";
/*-----------------------------------------------------------
clearfix
------------------------------------------------------------*/
.clearfix:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
  line-height: 0;
}
.clearfix {
  display: inline-block;
}
/* exlude MacIE5 \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* end MacIE5 */
/*-----------------------------------------------------------
reset
------------------------------------------------------------*/
p {
  margin: 0;
  padding: 0;
}
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
input,
textarea {
  margin: 0;
  font-size: 100%;
  resize: none;
}
input[type="text"],
input[type="date"],
input[type="email"],
input[type="number"],
input[type="url"] {
  word-break: normal;
  white-space: nowrap;
  @include add_prefix(appearance, none);
}
table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 100%;
}
dl,
dt,
dd,
th,
td {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  /*font-size: 100%;*/
  font-weight: normal;
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
dialog {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
  max-width: 100%;
  height: auto;
}
table img {
  margin: 0;
  padding: 0;
  vertical-align: middle;
  border: 0;
}
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
*,
*:before,
*:after {
  @include add_prefix(box-sizing, border-box);
  @if $font_smooth {
    @include font-smooth();
  }
}
*:focus {
  outline: none !important;
}
label,
select,
button {
  cursor: pointer;
}

// Remove select appearance for IE
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  select::-ms-expand {
    display: none;
  }
}
@media screen\0 {
  select::-ms-expand {
    display: none;
  }
}

/*-----------------------------------------------------------
Link
------------------------------------------------------------*/
a {
  outline: none;
  transition: opacity 0.3s;
  @include HOVER {
    &:hover {
      text-decoration: none;
      opacity: 0.75;
    }
  }
}
a:link,
a:visited,
a:active {
  color: #353739;
  text-decoration: none;
}
/*-----------------------------------------------------------
FONT family
------------------------------------------------------------*/
.ffN {
  @include ffN;
}
.ffM {
  @include ffM;
}
.ffYG {
  @include ffYG;
}
.ffYM {
  @include ffYM;
}
.ffMR {
  @include ffMR;
}

/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  white-space: nowrap;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
/*-----------------------------------------------------------
Body
-------------------------------------------------------------*/
html {
  font-size: 62.5%;
  @include add_prefix(text-size-adjust, 100%);
  @if $font_feature_settings_palt {
    @include add_prefix(font-feature-settings, "palt");
  }
}
html.is-ipad * {
  @include add_prefix(text-size-adjust, none);
}
body {
  @include ffYG;
  @include font-size(15);
  width: 100%;
  color: #353739;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  line-height: 2;
  letter-spacing: .05em;
  font-weight: 500;
  height: 100%;
  word-break: break-word;
  @include SP {
    line-height: 1.867;
  }
}

/*-----------------------------------------------------------
Container
------------------------------------------------------------*/
.container {
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
  &.w1120 {
    max-width: 1170px;
  }
}
/*-----------------------------------------------------------
common
------------------------------------------------------------*/
.sp,
.SP {
  @include min-screen(1024px) {
    display: none !important;
  }
}

.pc,
.PC {
  @include max-screen(1023px) {
    display: none !important;
  }
}

/* title
------------------------------------------------------------*/
.cTtl01 {
  &__en {
    display: inline-block;
    @include font(38, 1.316, .1em);
    color: #03728D;
    @include ffMR;
    margin-right: 12px;
    @include SP {
      @include font(28, 1.143);
      margin-right: 3px;
    }
    &.fs26 {
      @include font(26);
      @include SP {
        @include font(22);
      }
    }
  }
  &__ja {
    display: inline-block;
    @include font(15, 1.467, .1em);
    color: #738489;
    vertical-align: bottom;
    padding-bottom: 8px;
    @include SP {
      @include font(13, 1.539);
      padding-bottom: 6px;
    }
    &.fs15 {
      @include font(15);
      padding-bottom: 5px;
      @include SP {
        @include font(12);
      }
    }
  }
  &--white {
    .cTtl01__en {
      color: #fff;
    }
    .cTtl01__ja {
      color: #fff;
    }
  }
  &--2line {
    .cTtl01__en {
      display: block;
      margin-right: 0;
    }
    .cTtl01__ja {
      margin-top: 14px;
      padding-bottom: 0;
      display: block;
      @include SP {
        margin-top: 11px;
      }
    }
  }
  &--center {
    text-align: center;
  }
}
.hid_url { display:none;}
/* mainvisual
------------------------------------------------------------*/
.cMv {
  background-color: #03728D;
  position: relative;
  z-index: 1;
  @include PC {
    height: 39.063vw;
    min-height: 500px;
  }
  @include SP {
    height: 117.334vw;
    min-height: 440px;
    max-height: 80vh;
  }
  &:before {
    content: "";
    width: 100%;
    height: 200px;
    background-image: linear-gradient(rgba(5, 85, 119, .8), rgba(255, 255, 255, 0));
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }
  &__ttl {
    position: absolute;
    bottom: 40px;
    left: 60px;
    z-index: 2;
    @include SP {
      bottom: 34px;
      left: 25px;
    }
  }
  &__ttlen {
    @include font(44, 1.2276, .16em);
    color: #fff;
    @include ffMR;
    @include SP {
      @include font(26, 1.385);
    }
  }
  &__ttlja {
    margin-top: 8px;
    @include font(18, 2, .16em);
    color: #fff;
    @include SP {
      @include font(12);
    }
  }
}
/* breadcrumb
------------------------------------------------------------*/
.cBreadcrumb {
  padding: 21px 60px;
  @include SP {
    padding: 16px 25px;
  }
  ul {
    @include font(12, 22px, 0);
    @include SP {
      line-height: 20px;
    }
    li {
      display: inline;
      &:not(:first-child) {
        &:before {
          content: "";
          width: 1px;
          height: 14px;
          background-color: #03728D;
          display: inline-block;
          transform: rotate(40deg);
          margin: 0 15px 0 16px;
          position: relative;
          top: 2px;
          @include SP {
            margin: 0 10px 0 9px;
          }
        }
      }
    }
  }
  a, span {
    color: #03728D;
  }
}

.contact{
  #fContainer{
    display: none!important;
  }
  .GlobalFooter_lFooter__D8fz8{
    padding-top: 0;
  }
  .GlobalFooter_lFooter__D8fz8:after{
    width: 0;
  }
  .GlobalFooter_lFBlock01__0REEq{margin-top: 0;}
  @include PC{
    .GlobalHeader_lHGnavi__SLf3q,
    .GlobalHeader_h1Txt__mbAHO{
      display: none;
    }
    .GlobalHeader_lHLogo__GKZir{
      // left: 50%;
      // margin-left: -80px;
      a{
        pointer-events: none;
      }
    }
  }
}