@import "@/styles/main";
/*-----------------------------------------------------------
Container
------------------------------------------------------------*/
.container {
  max-width: 1050px;
  padding: 0 25px;
  margin: 0 auto;
  &.w1120 {
    max-width: 1170px;
  }
}
// For Top page
.top {
  @-webkit-keyframes scale {
    0% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -ms-transform: scale(1.2);
    }

    to {
      -webkit-transform: scale(1);
      transform: scale(1);
      -ms-transform: scale(1);
    }
  }

  @keyframes scale {
    0% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
      -ms-transform: scale(1.2);
    }

    to {
      -webkit-transform: scale(1);
      transform: scale(1);
      -ms-transform: scale(1);
    }
  }
  .jsSplitText .splitText > span {
    opacity: 0;
    display: inline-block;
    transform: translate(0, 100%);
    transition: transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .jsSplitText .splitText > span.is-active {
    opacity: 1;
    transform: translate(0, 0);
  }
}

.top {
  .lHeader {
    transition: transform 0.5s;
    //transition-delay: 1.2s;
    //transform: translateY(-170%);
    opacity: 0;
  }
  #scrollto {
    font-size: 0;
    height: 0;
  }
  .c-langSide {
    opacity: 0;
    transition: 1s;
    transition-delay: 1.2s;
  }
  &.isInview {
    .secMv {
      clip-path: circle(100%);
      -webkit-clip-path: circle(100%);
    }
    .lHeader {
      //transform: translateY(0%);
      transition-delay: 0;
      opacity: 1;
    }
    .c-langSide {
      opacity: 1;
    }
  }
}

.pLstCard {
  @include PC {
    @include flexbox();
    @include justify-content(space-between);
  }
  li {
    @include PC {
      width: 48.5%;
      max-width: 360px;
    }
    @include SP {
      + li {
        margin-top: 10px;
      }
    }
  }
}

.pCard {
  display: block;
  background-color: #fff;
  transition: 0.3s;
  @include PC {
    height: 100%;
  }
  @include SP {
    @include flexbox();
  }
  &__img {
    overflow: hidden;
    @include SP {
      width: 26.7vw;
      //min-height: 26.7vw;
    }
  }
  &__imgIn {
    transition: 0.3s;
    @include SP {
      height: 100%;
    }
    img {
      width: 100%;
      height: 280px;
      object-fit: cover;
      @include SP {
        height: 100%;
      }
    }
  }
  &__info {
    padding: 32px 30px 10px;
    position: relative;
    &:before {
      content: "";
      width: 25px;
      height: 14px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='14' viewBox='0 0 25 14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='24' transform='translate(1109.5 890.5)'/%3E%3Cpath class='a' d='M0,0,6,6l6-6' transform='translate(1127.5 896.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 41px;
      right: 30px;
      transition: 0.3s;
      @include ipad {
        right: 15px;
      }
      @include SP {
        width: 21px;
        height: 12px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='20' transform='translate(1109.5 889.5)'/%3E%3Cpath class='a' d='M0,0,5,5l5-5' transform='translate(1124.5 894.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
        top: 50%;
        right: 20px;
        margin-top: -6px;
      }
    }
    @include PC {
      height: 120px;
    }
    @include SP {
      width: calc(100% - 26.7vw);
      padding: 0 20px;
      @include flexbox();
      @include align-items(center);
    }
  }
  &__txtEn {
    @include font(20, 30px, 0.1em);
    color: #03728d;
    @include ffMR;
    transition: 0.3s;
    @include SP {
      @include font(16, 20px);
    }
  }
  &__txtJa {
    margin-top: 6px;
    @include font(14, 24px, 0.1em);
    color: #738489;
    transition: 0.3s;
    @include SP {
      margin-top: 2px;
      @include font(12, 22px);
    }
  }
  @include HOVER {
    &:hover {
      opacity: 1;
      background-color: #03728d;
      .pCard__imgIn {
        transform: scale(1.15);
      }
      .pCard__info:before {
        transform: translateX(8px);
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='14' viewBox='0 0 25 14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23ffffff;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='24' transform='translate(1109.5 890.5)'/%3E%3Cpath class='a' d='M0,0,6,6l6-6' transform='translate(1127.5 896.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
      }
      .pCard__txtEn,
      .pCard__txtJa {
        color: #fff;
      }
    }
  }
}

.pTxt01 {
  margin-top: 38px;
  @include font(15, 2.134);
  color: #fff;
  @include SP {
    margin-top: 30px;
    line-height: 1.867;
  }
}
.top{
  overflow: hidden;
  &.isInview{
    overflow: auto;
  }
}
.cImgAni {
  position: relative;
  display: block;
  font-size: 0;
  >span{
    width: 100%;
  }
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    right: 0;
    bottom: 0;
    background: #fff;
    transition: all 1s;
    //width: 0;
  }
  &.right {
    &:after {
      right: auto;
      left: 0;
    }
  }
  &.delay {
    transition: all 1s;
  }
  span {
    display: block !important;
  }
  span,
  img {
    width: 100% !important;
    height: 100% !important;
  }
}
.isInview {
  &:after {
    width: 0;
  }
}

.secCase {
  padding: 64px 0 97px;
  overflow: hidden;
  @include SP {
    padding: 42px 0 44px;
  }
  .inner {
    position: relative;
  }
  .lstCase {
    position: relative;
    @include PC {
      margin-top: 38px;
    }
    .swiperWrapper {
      @include PC {
        @include flexbox();
        transform: translate3d(0, 0, 0) !important;
      }
    }
    .swiperSlide {
      @include PC {
        display: none;
        width: 30%;
        max-width: 300px;
        margin-right: 0 !important;
        margin-left: 5%;
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          display: block;
        }
        &:nth-child(3n + 1) {
          margin-left: 0;
        }
      }
      @include SP {
        width: 100%;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid #cddfea;
        &:last-child {
          margin-bottom: 0;
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
    @include SP {
      margin-top: 21px;
      padding-bottom: 20px;
    }
    &__nav {
      @include SP {
        width: 222px;
        margin: 0 auto;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  .btn01 {
    @include PC {
      position: absolute;
      top: -4px;
      right: 25px;
    }
    @include SP {
      margin-top: 20px;
    }
  }
}

// End top
