@import "@/styles/main";
.secAbout {
  padding: 82px 0 120px;
  .cTtl01 {
    &__en {
      @include SP {
        display: block;
      }
    }
  }
  @include SP {
    padding: 48px 0 50px;
  }
  .lstItem {
    @include PC {
      margin-top: 55px;
      @include flexbox();
    }
    @include SP {
      margin-top: 35px;
    }
    li {
      @include PC {
        width: 25%;
      }
      @include SP {
        border-bottom: 1px solid #cddfea;
        &:first-of-type {
          border-top: 1px solid #cddfea;
        }
      }
    }
  }
  .item {
    display: block;
    @include PC {
      height: 100%;
    }
    @include SP {
      padding: 18px 0;
      @include flexbox();
    }
    &__img {
      overflow: hidden;
      @include SP {
        width: 37%;
      }
    }
    &__imgIn {
      transition: 0.3s;
      @include SP {
        height: 100%;
      }
      img {
        width: 100%;
        height: 210px;
        object-fit: cover;
        @include SP {
          height: 100%;
        }
      }
    }
    &__info {
      @include PC {
        padding: 20px 0;
      }
      @include SP {
        width: 63%;
        padding-left: 6%;
        padding-top: 4px;
        @include flexbox();
        @include align-items(center);
        position: relative;
        &:before {
          content: "";
          width: 21px;
          height: 12px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='20' transform='translate(1109.5 889.5)'/%3E%3Cpath class='a' d='M0,0,5,5l5-5' transform='translate(1124.5 894.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 50%;
          right: 0;
          margin-top: -6px;
        }
      }
    }
    &__txtEn {
      @include font(18, 28px, 0.1em);
      color: #03728d;
      @include ffMR;
      @include PC {
        display: inline-block;
        position: relative;
        &:before {
          content: "";
          width: 25px;
          height: 14px;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='14' viewBox='0 0 25 14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='24' transform='translate(1109.5 890.5)'/%3E%3Cpath class='a' d='M0,0,6,6l6-6' transform='translate(1127.5 896.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-position: center;
          position: absolute;
          top: 8px;
          right: -33px;
          transition: 0.3s;
        }
      }
      @include SP {
        @include font(16, 26px);
      }
    }
    &__txtJa {
      margin-top: -4px;
      @include font(13, 23px, 0.1em);
      color: #738489;
      @include SP {
        margin-top: -1px;
        @include font(12, 22px);
      }
    }
    @include HOVER {
      &:hover {
        opacity: 1;
        .item__imgIn {
          transform: scale(1.15);
        }
        .item__txtEn:before {
          transform: translateX(10px);
        }
      }
    }
  }
  .box01 {
    margin-top: 36px;
    display: block;
    overflow: hidden;
    position: relative;
    @include SP {
      margin-top: 49px;
    }
    &:before {
      content: "";
      width: 100%;
      height: 170px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0),
        rgba(5, 85, 119, 0.3)
      );
      position: absolute;
      bottom: 0;
      left: 0;
      z-index: 1;
      @include SP {
        height: 100%;
      }
    }
    &__img {
      transition: 0.3s;
      img {
        width: 100%;
      }
    }
    &__ttl {
      position: absolute;
      bottom: 29px;
      left: 50px;
      z-index: 2;
      @include SP {
        bottom: 20px;
        left: 20px;
        .c-ttl01 {
          &__en {
            @include font(22);
          }
          &__ja {
            @include font(12);
          }
        }
      }
    }
    &__icon {
      width: 50px;
      height: 50px;
      background-color: #fff;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='14' viewBox='0 0 25 14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='24' transform='translate(1109.5 890.5)'/%3E%3Cpath class='a' d='M0,0,6,6l6-6' transform='translate(1127.5 896.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-position: center;
      transition: 0.3s;
      position: absolute;
      bottom: 20px;
      right: 20px;
      z-index: 3;
      @include SP {
        width: 40px;
        height: 40px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='12' viewBox='0 0 21 12'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%2303728d;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='20' transform='translate(1109.5 889.5)'/%3E%3Cpath class='a' d='M0,0,5,5l5-5' transform='translate(1124.5 894.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
      }
    }
    @include HOVER {
      &:hover {
        opacity: 1;
        .box01__img {
          transform: scale(1.05);
        }
        .box01__icon {
          background-color: #03728d;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='25' height='14' viewBox='0 0 25 14'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23ffffff;stroke-linecap:round;stroke-linejoin:round;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-1109 -883.793)'%3E%3Cline class='a' x2='24' transform='translate(1109.5 890.5)'/%3E%3Cpath class='a' d='M0,0,6,6l6-6' transform='translate(1127.5 896.5) rotate(-90)'/%3E%3C/g%3E%3C/svg%3E");
        }
      }
    }
  }
}